<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
          content="Design Studio, What we Do, Our Features &amp; Services, ​We turn your design into a live Webflow project.">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>index</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="index.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "RegistrationHack",
        "logo": "#"
    }</script>
    <meta name="theme-color" content="#029fe7">
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
</head>
<body data-home-page="index.html" data-home-page-title="index" class="u-body u-xl-mode">
<header class="u-clearfix u-header u-header" id="sec-4ed0" th:insert="blocks/header::header">
</header>
<section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-03b8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-default u-text-palette-2-base u-text-1">Как вам такие посты?</h3>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-1">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-palette-2-base u-text-2">1</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-3">Машины</h5>
                        <p class="u-text u-text-grey-50 u-text-4"> Honda Civic.<br>Toyota Camry.<br>Mazda CX-3.<br>Chevrolet
                            Malibu.<br>BMW i3.<br>Hyundai Tucson.<br>Ford C-Max Hybrid.<br>Kia Sportage.
                        </p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-1">Читать</a>
                    </div>
                </div>
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-2">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-default u-text-palette-2-base u-text-5">2</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-6"> Ювелирные </h5>
                        <p class="u-text u-text-grey-50 u-text-7"> У каждой девушки есть любимые ювелирные украшения,
                            которые она носит каждый день <br>И,
                            независимо от повода или времени года, они всегда с ней. Такие
                            украшения гармонируют со всеми элементами гардероба, добавляя стильный
                            акцент <br>
                        </p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-2">Читать</a>
                    </div>
                </div>
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-3">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-default u-text-palette-2-base u-text-8">3</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-9">Еда</h5>
                        <p class="u-text u-text-grey-50 u-text-10"> Морепродукты Морепродукты – неизменные женские
                            фавориты, о пользе которых известно всем без исключения. ... <br>Суши ... <br>Шоколадные
                            десерты ... <br>Фруктовые йогурты
                        </p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-3">Читать</a>
                    </div>
                </div>
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-4">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-default u-text-palette-2-base u-text-11">4</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-12">Работа</h5>
                        <p class="u-text u-text-grey-50 u-text-13"><b>Дизайнер,&nbsp;</b><b>Врач,&nbsp;</b><b>Специалист
                            по уходу,&nbsp;&nbsp;</b><b>Педагог,&nbsp;</b><b>Программист,</b>
                            <br><b>Стюардесса</b>
                            <br>
                        </p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-4">Читать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_a09d">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img src="images/Untitled-31.png" alt=""
                             class="u-expanded-width u-image u-image-contain u-image-default u-image-1"
                             data-image-width="473" data-image-height="464">
                        <h4 class="u-text u-text-default u-text-1">О&nbsp;толерантность</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-2">Nisl purus in mollis nunc sed id semper.
                            Rhoncus aenean vel elit scelerisque mauris.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-1"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-2"
                           target="_blank">Читать</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img src="images/ion-online-promotion-smm-manager-cartoon-character-mobile-settings-tools-adjustment-business-platform-website-analysis-vect.jpg"
                             alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-2"
                             data-image-width="626" data-image-height="626">
                        <h4 class="u-text u-text-default u-text-3">SEO Optimozation</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-4"> Nunc consequat interdum varius sit amet
                            mattis vulputate enim nulla. Risus feugiat.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-3"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-4"
                           target="_blank">Читать</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img src="images/cloud-robotics-abstract-concept-illustration_335657-3801.jpg" alt=""
                             class="u-expanded-width u-image u-image-contain u-image-default u-image-3"
                             data-image-width="626" data-image-height="626">
                        <h4 class="u-text u-text-default u-text-5">Cloud Solutions</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-6">Nisl purus in mollis nunc sed id semper.
                            Rhoncus aenean vel elit scelerisque mauris.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-5"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-6"
                           target="_blank">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-expanded-width u-list u-list-2">
            <div class="u-repeater u-repeater-2">
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-4">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-1">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-palette-2-base u-text-7">1</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-8">Украшения</h5>
                        <p class="u-text u-text-grey-50 u-text-9"> Jewellery or jewelry consists of decorative items
                            worn for
                            personal adornment, such as brooches, rings, necklaces, earrings,
                            pendants, bracelets, and cufflinks. Jewellery may be attached to the
                            body or the clothes. From a western perspective, the term is restricted
                            to durable ornaments, excluding flowers for example</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-7">Читать</a>
                    </div>
                </div>
                <div class="u-align-left u-border-2 u-border-palette-2-light-2 u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                        <div class="u-align-center u-container-style u-group u-palette-2-light-3 u-radius-50 u-shape-round u-group-2">
                            <div class="u-container-layout u-valign-middle">
                                <h6 class="u-text u-text-default u-text-palette-2-base u-text-10">2</h6>
                            </div>
                        </div>
                        <h5 class="u-text u-text-palette-2-base u-text-11"> Ювелирные </h5>
                        <p class="u-text u-text-grey-50 u-text-12"> У каждой девушки есть любимые ювелирные украшения,
                            которые она носит каждый день <br>И,
                            независимо от повода или времени года, они всегда с ней. Такие
                            украшения гармонируют со всеми элементами гардероба, добавляя стильный
                            акцент <br>
                        </p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-8">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-list u-list-3">
            <div class="u-repeater u-repeater-3">
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-6">
                    <div class="u-container-layout u-similar-container u-container-layout-8">
                        <img src="images/b50fad9b3606429efdf5b96dbf9aa1d41494415689e8159d1a8690b2eed658f697fc1b4693e94df6d197172a1676db1acbe55c9e7331f0d26d57e7_1280.png"
                             alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-4"
                             data-image-width="989" data-image-height="1280">
                        <h4 class="u-text u-text-default u-text-13">О&nbsp;толерантность</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-14">Nisl purus in mollis nunc sed id semper.
                            Rhoncus aenean vel elit scelerisque mauris.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-9"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-10"
                           target="_blank">Читать</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-7">
                    <div class="u-container-layout u-similar-container u-container-layout-9">
                        <img src="images/ion-online-promotion-smm-manager-cartoon-character-mobile-settings-tools-adjustment-business-platform-website-analysis-vect.jpg"
                             alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-5"
                             data-image-width="626" data-image-height="626">
                        <h4 class="u-text u-text-default u-text-15">SEO Optimozation</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-16"> Nunc consequat interdum varius sit amet
                            mattis vulputate enim nulla. Risus feugiat.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-11"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-12"
                           target="_blank">Читать</a>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-8">
                    <div class="u-container-layout u-similar-container u-container-layout-10">
                        <img src="images/cloud-robotics-abstract-concept-illustration_335657-3801.jpg" alt=""
                             class="u-expanded-width u-image u-image-contain u-image-default u-image-6"
                             data-image-width="626" data-image-height="626">
                        <h4 class="u-text u-text-default u-text-17">Cloud Solutions</h4>
                        <p class="u-text u-text-palette-1-dark-2 u-text-18">Nisl purus in mollis nunc sed id semper.
                            Rhoncus aenean vel elit scelerisque mauris.</p>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-13"
                           target="_blank">Чат</a>
                        <a href="#"
                           class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-palette-2-base u-none u-radius-6 u-text-hover-white u-btn-14"
                           target="_blank">Читать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-410c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">WonderWoman/VR Club/ Meerim - Kanykei - Nurs</p>
    </div>
</footer>
</body>
</html>