<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Проверка">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Registration3</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
    <link rel="stylesheet" href="Registration3.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "RegistrationHack",
        "logo": "#"
    }</script>
    <meta name="theme-color" content="#029fe7">
    <meta property="og:title" content="Registration3">
    <meta property="og:type" content="website">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-4ed0" th:insert="blocks/header::header"></header>
<section class="u-clearfix u-image u-section-1" id="sec-aed9" data-image-width="1620" data-image-height="1080">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-border-14 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-container-style u-custom-border u-expanded-width-sm u-expanded-width-xs u-group u-opacity u-opacity-55 u-palette-3-base u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1"><span
                    class="u-file-icon u-icon u-icon-circle u-palette-2-base u-spacing-25 u-icon-1"><img
                    src="images/1.png" alt=""></span>
                <h2 class="u-text u-text-default u-text-palette-2-base u-text-1">Проверка</h2>
                <div class="u-form u-form-1">
                    <form action="#" method="POST"
                          class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                          source="custom" name="form" style="padding: 10px;" redirect="true">
                        <input type="hidden" id="siteId" name="siteId" value="84845999">
                        <input type="hidden" id="pageId" name="pageId" value="66172767">
                        <div class="u-form-group u-form-select u-form-group-1">
                            <label for="select-089a" class="u-label u-text-custom-color-1 u-label-1">Анатомически вы
                                мужчина или женщина?</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-089a" name="select"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="Женщине">Женщине</option>
                                    <option value="Не знаю">Не знаю</option>
                                    <option value="Мужчина">Мужчина</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-select u-form-group-2">
                            <label for="select-d0f4" class="u-label u-text-custom-color-1 u-label-2">Сразу ли вы
                                заметите если у ваших друзей начнется тайный роман?</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-d0f4" name="select_1"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white"
                                        required="required" size="3">
                                    <option value="а) Довольно быстро">а) Довольно быстро</option>
                                    <option value="б) Когда пройдет определенное время">б) Когда пройдет определенное
                                        время
                                    </option>
                                    <option value="в) Когда сами скажут">в) Когда сами скажут</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-3">
                            <label for="select-497e" class="u-label u-text-custom-color-1 u-label-3">Насколько
                                конкуренция свойственно для вас?</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-497e" name="select_2"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)Соглашусь">а)Соглашусь</option>
                                    <option value="б)Затрудняюсь ответить">б)Затрудняюсь ответить</option>
                                    <option value="в) Не соглашусь">в) Не соглашусь</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-4">
                            <label for="select-17bd" class="u-label u-text-custom-color-1 u-label-4">Насколько
                                вежливость свойственно для вас? </label>
                            <div class="u-form-select-wrapper">
                                <select id="select-17bd" name="select_3"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)Соглашусь">а)Соглашусь</option>
                                    <option value="б)Затрудняюсь ответить">б)Затрудняюсь ответить</option>
                                    <option value="в) Не соглашусь">в) Не соглашусь</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-select u-form-group-5">
                            <label for="select-8188" class="u-label u-text-custom-color-1 u-label-5">Как вы определяете,
                                добились ли результата?</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-8188" name="select_7"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)На основе данных и фактов">а)На основе данных и фактов</option>
                                    <option value="б)Нравится ли мне результат">б)Нравится ли мне результат</option>
                                    <option value="в)На основе личных ощущений">в)На основе личных ощущений</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-6">
                            <label for="select-590b" class="u-label u-text-custom-color-1 u-label-6">Поцелуй с человеком
                                одного пола плохо?</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-590b" name="select_4"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)Нет">а)Нет</option>
                                    <option value="б)Нормально">б)Нормально</option>
                                    <option value="в)Да">в)Да</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-partition-factor-2 u-form-select u-form-group-7">
                            <label for="select-9e92" class="u-label u-text-custom-color-1 u-label-7">Насколько
                                сердечность свойственно для вас? </label>
                            <div class="u-form-select-wrapper">
                                <select id="select-9e92" name="select_5"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)Соглашусь">а)Соглашусь</option>
                                    <option value="б)Затрудняюсь ответить">б)Затрудняюсь ответить</option>
                                    <option value="в) Не соглашусь">в) Не соглашусь</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-form-group u-form-select u-form-group-8">
                            <label for="select-f3dc" class="u-label u-text-custom-color-1 u-label-8">Насколько
                                свойственно для вас драться с друзьями в шутку? </label>
                            <div class="u-form-select-wrapper">
                                <select id="select-f3dc" name="select_6"
                                        class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                                    <option value="а)Соглашусь">а)Соглашусь</option>
                                    <option value="б)Затрудняюсь ответить">б)Затрудняюсь ответить</option>
                                    <option value="в) Не соглашусь">в) Не соглашусь</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                     class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="u-align-center u-form-group u-form-submit">
                            <a href="#"
                               class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Вы
                                молодцы, Спасибо!</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено.</div>
                        <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте
                            ошибки и попробуйте еще раз.
                        </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-410c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">WonderWoman/VR Club/ Meerim - Kanykei - Nurs</p>
    </div>
</footer>

<section
        class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-section-5"
        id="carousel_3eb5" data-dialog-show-on="timer" data-dialog-show-interval="0"
        data-dialog-show-on-list="66172767">
    <div class="u-align-left u-container-style u-dialog u-palette-2-base u-radius-29 u-shape-round u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1"> Будьте внимательны при выборе ответа, от этого зависит ваш
                доступ к платформе</h3>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-5 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5801"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                 xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-5801"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
        </button>
    </div>
</section>
<style>.u-section-5 {
  min-height: 826px;
}

.u-section-5 .u-dialog-1 {
  width: 566px;
  min-height: 248px;
  background-image: none;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 55px 30px 20px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-icon-1 {
  width: 23px;
  height: 23px;
  left: auto;
  top: 17px;
  position: absolute;
  right: 16px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-dialog-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-dialog-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 906px;
  }

  .u-section-5 .u-dialog-1 {
    width: 340px;
    background-position: 45.33% 50%;
    margin-top: 167px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 27px;
  }
}

</style>
<div th:if="${checker == 'fail'}">
    <section
            class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-top u-section-8"
            id="carousel_6c4b" data-dialog-show-on="timer" data-dialog-show-on-list="66172767">
        <div class="u-align-center u-border-2 u-border-palette-1-base u-container-style u-dialog u-radius-20 u-shape-round u-white u-dialog-1">
            <div class="u-container-layout u-container-layout-1">
                <div class="u-align-center u-container-style u-expanded-width u-group u-palette-1-base u-radius-18 u-shape-round u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-custom-font u-font-montserrat u-text u-text-1"> к сожалению вы не прошли
                            валидацию</h2>
                    </div>
                </div>
                <a href="reg"
                   class="u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-btn-1">Заново</a>
            </div>
            <button class="u-dialog-close-button u-icon u-icon-rectangle u-radius-5 u-spacing-14 u-white u-icon-1">
                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 413.348 413.348" style="">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cdad"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     xml:space="preserve" class="u-svg-content" viewBox="0 0 413.348 413.348" id="svg-cdad"><path d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"></path></svg>
            </button>
        </div>
    </section>
</div>
<style>.u-section-8 {
  min-height: 826px;
}

.u-section-8 .u-dialog-1 {
  width: 566px;
  min-height: 365px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 0 auto 60px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 0 27px;
}

.u-section-8 .u-group-1 {
  background-image: none;
  min-height: 221px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px auto 0;
  padding: 17px 54px 18px;
}

.u-section-8 .u-icon-1 {
  width: 41px;
  height: 41px;
  left: auto;
  top: 10px;
  position: absolute;
  background-image: none;
  right: 13px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-dialog-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-dialog-1 {
    width: 340px;
    min-height: 482px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.0625rem;
  }
}

</style>
</body>
</html>